<article class="doc dark:text-gray-100">
<h2>Pages in category <span class="text-fp-blue-light">{{page.attributes.category}}</span></h2>
<div class="sectionbody">
{{#each (to-array page.attributes.category-pages)}}
  <h3><a href="{{{relativize ./pub.url}}}">{{{title}}}</a></h3>

  {{#with asciidoc.attributes.description}}
  <div class="sectionbody pt-2">
    {{this}}
    <a href="{{{relativize ../pub.url}}}" class="italic after:content-['_→']">Read more</a>
  </div>
  {{/with}}
{{/each}}
</div>
</article>

