{{#if (and page.fileUri (not env.CI))}}
<div class="edit-this-page"><a href="{{page.fileUri}}" title="Edit this Page"><i class="fas fa-edit"></i></a></div>
{{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
  {{#if (edit2var page.editUrl "history") }}
  <div class="edit-this-page"><a href="{{{edit2var page.editUrl "history"}}}" title="Page history"><i class="fas fa-history"></i></a></div>
  {{/if}}
  <div class="edit-this-page"><a href="{{page.editUrl}}" title="Edit this Page"><i class="fas fa-edit"></i></a></div>
  {{#if (edit2var page.editUrl "issue") }}
  <div class="edit-this-page"><a href="{{{edit2var page.editUrl "issue"}}}" title="Report an issue"><i class="fas fa-bug"></i></a></div>
  {{/if}}
{{/if}}
