{{#if page.versions}}
{{#unless (eq page.version page.latest.version)}}
<div class="alert {{#if page.componentVersion.prerelease}}prerelease{{else}}eol{{/if}}">

{{#if page.latest.missing}}

{{#if page.componentVersion.prerelease}}
  <i class="fas fa-info-circle"></i>You are viewing the documentation for a prerelease version.
{{else}}
  <i class="fas fa-exclamation-triangle"></i>Documentation for a newer release is available.
{{/if}} 
  <a class="btn" href="{{relativize page.latest.url}}"> View Latest</a>

{{else}}

{{#if page.componentVersion.prerelease}}
    <i class="fas fa-info-circle"></i>You are viewing the documentation for a prerelease version.
{{else}}
    <i class="fas fa-exclamation-triangle"></i>Documentation for a newer release is available.
{{/if}}
    <a class="btn" href="{{relativize page.latest.url}}"> View Latest</a>

{{/if}}

</div>
{{/unless}}
{{/if}}
